
        
        <div id="content_right">
            <% for (let i = 0; i< result.length; i++) {%>
        	<div class="product_box">
                <h1><%= result[i].title%><span></span></h1>
   	      <img src="<%= result[i].url%>" alt="image" />
                <div class="product_info">
                	<p><%= result[i].description%></p>
                </div>
                <div class="cleaner">&nbsp;</div>
                <a href="/editbook/<%=result[i]._id%>"><button>Edit</button></a>
                <form action="/<%=result[i]._id%>/?_method=delete" method="post">
                <button type ="submit">Delete</button>
                </form>
            </div>
            <%}%>
            
    </div>
        <!-- end of content -->
    
    <div id="footer">
    
	       <a href="subpage.html">Home</a> | <a href="subpage.html">Search</a> | <a href="subpage.html">Books</a> | <a href="#">New Releases</a> | <a href="#">FAQs</a> | <a href="#">Contact Us</a><br />
        Copyright © 2024 <a href="#">Book Addict</a> 
	</div> 
<!-- end of container -->
